.button {
    width: 170px;
    height: 34px;
    border-radius: 4px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #ffffff;
    font-size: 14px;
  
    &_down {
      margin-top: 4px;
    }
  }
  
  .button:hover {
    background-color: #286090;
    border-color: #204d74;
  }
  