.container {
    margin-bottom: 13px;
  
    &_wrapper {
      width: 380px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 3px;
      display: flex;
      clear: both;
      overflow: hidden;
  
      input[type='radio']:empty,
      input[type='checkbox']:empty {
        display: none;
      }
      //empty : rong (ko chua text)
  
      input[type='radio']:checked,
      input[type='checkbox']:checked ~ label {
        color: #777;
      }
  
      input[type='radio'],
      input[type='checkbox'] {
        margin: 4px 0 0;
        line-height: normal;
      }
  
      input[type='radio']:empty ~ label,
      input[type='checkbox']:empty ~ label {
        line-height: 1.8em;
        position: relative;
        margin-top: 1px;
        cursor: pointer;
        user-select: none;
        text-indent: 3.25em;
      }
  
      input[type='radio']:checked ~ label:before,
      input[type='checkbox']:checked ~ label:before {
        content: '\2714' !important;
        text-indent: 0.9em;
        color: #333;
        background-color: #ccc;
      }
      //
  
      input[type='radio']:empty ~ label:before,
      input[type='checkbox']:empty ~ label:before {
        position: absolute;
        top: -1px;
        bottom: 0;
        left: 0;
        display: block;
        width: 2.5em;
        content: '';
        border-radius: 3px 0 0 3px;
        background: #d1d3d4;
      }
    }
  }
  
  