.container {
  background-color: #ccc;
  .title {
    color: #000;
    font-size: 20px;
    margin-left: 300px;
    padding-top: 30px;
  }
  .wrapper {
    margin: auto;
    width: 50%;
    background-color: #fff;
    width: 70%;
    min-height: 500px;
    margin-top: 30px;

    h2 {
      display: inline-block;
      margin-left: 60px;
      margin-top: 40px;
      margin-bottom: 40px;

      color: rgb(53, 52, 52);
    }

    .content {
      margin-left: 60px;
    }
  }

  .wrapper:nth-child(1) {
    margin-bottom: 1000px;
  }
}
