.loginTitle{
    width: 100%;
    display: block;
}
.signUp{
    width: 100%;
    margin-bottom: 10px;
    *{
        display: inline-block;
    }
    a{
        text-decoration: underline;
    }
}
.haveAccount{
    float: right;
    *{
        float: left;
        margin-right: 3px;
    }
    a{
        text-decoration: underline;
    }
}
.loginRight{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
    h2 {
        max-width: 500px;
        color: #fff;
        font-size: 40px;
        width: 100%;
        display: block;
    }
}
