 & .ant-form-item-label {
    & > label {
        font-weight: bold!important;
        color: rgb(92, 92, 93)!important;
    }
 }

 @media screen and (min-width: 600px) {
    .login-right h2 {
      font-size: 40px;
    }
  }

