.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}
body{
  font-size: 15px!important;
}

.Logo {
  padding: 16px 24px;
  height: 64px;
  margin: 10p;
}

input.ant-input {
  height: auto !important;
}
div#login-form {
  width: 100%;
  width: 100%;
  height: 100vh;
  background-color: rgb(195, 221, 234);
}
.login-container {
  height: 100%;
}

form#login-form {
  background: rgb(255, 255, 255);
  height: 100%;
  padding: 30px;
}
img.logo-login {
  width: 175px;
  height: 27px;
  display: block;
}
h2.login-page-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
}
img.icon-login {
  width: 12px;
  font-size: 14px;
  margin-right: 4px;
}
.login-form-button {
  width: 100%;
  background: rgb(155, 230, 248) !important;
  color: rgb(255, 255, 255) !important;
  font-size: 15px;
  font-weight: 500;
  border-color: rgb(84, 187, 216) !important;
}

.ant-tabs-tab {
  flex-grow: 1!important;
  justify-content: center!important;
}
.ant-tabs-tab + .ant-tabs-tab {
  margin: 0px!important;
}
.ant-drawer-body {
  padding: 0!important;
}
tbody.ant-table-tbody {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .ant-menu-title-content {
    display: block !important;
  }
}
