.container {
    margin-left: 15px;
    margin-right: 15px;
    &_icon {
      display: flex;
  
      &_img {
        font-size: 18px;
        margin-top: 4px;
      }
  
      h4 {
        color: #333333;
        font-size: 18px;
        font-weight: 500;
        margin-left: 8px;
      }
    }
  
    &_select {
      border: 1px solid #d1d3d4;
      border-radius: 4px;
      height: 100%;
      width: 870px;
  
      header {
        //   margin-left: 10px;
        height: 37px;
        background-color: #f5f5f5;
        width: 100%;
        border-bottom: 1px solid #d1d3d4;
        color: #333333;
        font-size: 14px;
        font-weight: 700;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
  
        span {
          margin-left: 10px;
          line-height: 37px;
          color: #333333;
          font-size: 14px;
          font-weight: 700;
        }
      }
  
      &_box {
        margin-left: 30px;
        margin-top: 15px;
        height: 500px;
  
        span {
          margin-bottom: 200px;
          color: #333333;
          font-size: 14px;
          margin-left: -15px;
        }
  
        &_wrapper {
          margin-top: 38px;
        }
      }
  
      &_footer {
        text-align: center;
        height: 100px;
        border-bottom: 1px solid #d1d3d4;
        border-top: 1px solid #d1d3d4;
        margin-top: 24px;
  
        margin: 0 30px;
  
        &_tabtable {
          margin-top: 18px;
          margin-right: 24px;
  
          span {
            color: #333333;
            font-size: 14px;
            font-weight: 700;
            // text-align: center;
            margin-left: -120px;
            font-family: 'Roboto';
          }
        }
  
        input {
          background-color: #eeeeee;
          border-color: #cccccc;
          border-radius: 0px 4px 4px 0px;
          border-style: solid;
          border-width: 1px;
          font-size: 14px;
          color: #555555;
          width: 380px;
          height: 34px;
          margin-top: 6px;
          // margin-left: 120px;
          cursor: not-allowed;
        }
      }
  
      &_download {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  
  // #d1d3d4
  
  