.ant-tabs-tab {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}
#tab-container .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap{
    flex: unset!important;
    width: auto!important;
}
.ant-collapse{
    font-size: 15px!important;
}