.container_description {
  // text-align: center;
  // margin: 0 auto;
  margin: 0 100px;
  &_wrapper {
    &_header {
      display: flex;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      margin-bottom: 8px;
      margin: 6px 0 6px 0;
      padding: 0.5rem 1rem;
      &_title {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 0;
      }

      &_button {
        &_text {
          cursor: pointer;
          margin-left: 12px;
          border-radius: 4px;
          color: #0b4dda;
          font-size: 12px;

          svg {
            width: 16px;
            height: 16px;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

