.container_description {
    &_wrapper {
      &_details {
        &_content {
          &_detections {
            margin-left: 14px;
            justify-content: left;
            // border-bottom: 1px solid #ccc;
            &_detail {
              display: table-row;
              line-height: 1.8;
  
              &_wrapper {
                
                // border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
                .key {
                  display: inline-block;
                  min-width: 150px;
                  padding-right: 20px;
                }
                h4{
                  font-weight: 700;
                  font-size: 15px;
                }
                .code {
                }
              }
            }
          }
        }
      }
    }
  }
  