.container {
  max-width: 1320px;
  background-color: #ffffff;
  justify-content: center;
  margin: auto;
  //dau
  &_content {
    .wrapper {
      display: flex;
      width: 100%;

      .leftChart {
        flex: 0 0 auto;
        width: auto;
      }
      .rightParam {
        border: 1px solid #ccc;
        width: 100%;
        flex-direction: 1 0 0%;

        .header {
          background-color: #f9fafb;
          border-bottom: 1px solid #ccc;
          display: flex;
          height: 56px;
          line-height: 56px;
          padding: 0px 20px;
          justify-content: space-between;
          .detections {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            &_wrapper {
              &_conetent {
                font-weight: 500;
                line-height: 56px;
                font-size: 13px;
                display: flex;

                svg {
                  color: #39ac4c;
                  font-size: 20px;
                }

                p {
                  align-self: center;
                  margin-left: 5px;
                  line-height: 1rem;
                  color: #39ac4c;
                  fill: #39ac4c;
                  margin-bottom: 0;
                }
              }
            }
          }

          .actions {
            display: flex;
            justify-content: right;
            div{
              display: flex;
              align-items: center;
              svg{
                font-size: 28px;
                margin: 5px;
              }
            }

          }
        }

        .body {
          .row {
            display: flex;
            padding: 20px 0px;
            .object_id {
              padding: 0px 20px;
              &_file {
                font-size: 13px;
              }
            }

            .field {
              padding: 0px 20px;
              border-left: 1px solid #ccc;
              // padding-left: 15px;
              &_title {
              }
            }

            .images {
              border-left: 1px solid #ccc;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 154px;
              margin: auto;
              img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                padding: 3px;
                // fill: gray;
                background: #fff;
                border: 1px solid #E5E9F0;
                // border: 1px sos
                // fill: var(--bs-tertiary-color);
                // background: var(--bs-body-bg);
              }
            }
          }
        }
      }
    }
  }

  //giua
  &_title {
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
    &_wrapper {
      display: flex;
      justify-content: space-evenly;
      &_item {
      }
    }
  }

  //than
  &_description {
    &_wrapper {
      &_header {
        display: flex;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        height: 36px;
        display: flex;
        align-items: center;
        padding: 0px 13px;
        h3{
          padding: 0px;
          margin: 0px;
        }
      }
      &_details {
        &_content {
          &_detections {
            display: flex;
            border-bottom: 1px solid #ccc;
            &_detail {
              padding: 9px 40px 9px 10px;
              display: flex;
              align-items: center;
              width: calc(50% - 50px);
              p {
                padding: 0px;
                margin: 0px;
                display: flex;
                align-items: center;
                width: calc(50% - 20px);
                svg {
                  width: 24px;
                  height: 24px;
                  // line-height: 24px;
                  fill: #39ac4c;
                  color: #c7ccd6;
                  margin-bottom: 0;
                }
                span {
                  margin-left: 6px;
                  margin-right: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.tabs{
  .ant-tabs-tab-btn{
    background-color: red;
  }
}