.buttonContainer {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .mainTitle {
    font-size: 20px;
  }
  .floatRight {
    float: right;
  }
  .btnOption {
    font-weight: 700;
    margin-top: -3px;
    padding: 7px 10px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    background-color: #40a9ff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    font-size: 14px;
    -webkit-appearance: none;
  }
  #resetOption {
    color: #fff;
    background-color: #888;
    margin-right: 5px;
  }
}
.formBody {
  display: flex;
  width: 100%;
  #configForm {
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #cfcfcf;
    background-color: #f5f5f5;
    .formHeader {
      padding: 0 20px;
      color: #999;
      border-bottom: 1px solid #d0d0d0;
      .titleHeader {
        margin: 30px 0 10px 0;
        font-size: 18px;
      }
      .desHeader {
        font-size: 0.7em;
        display: block;
        margin: 10px 0;
      }
      .anticonGlobal {
        margin-right: 5px;
      }
    }

    .formItem {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      border: 0;
      .formTitle {
        font-size: 14px;
        width: 100%;
        margin: 0;
        padding: 15px 20px 10px 20px;
        vertical-align: middle;
        color: #999;
      }
      .radioGroup {
        display: flex;
      }
      .radioStyle {
        flex-basis: 100% !important;
        font-size: 10px;
        font-weight: 700;
        display: block;
        margin: 0;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        border: none;
      }
      .toggleList {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: flex;
          padding: 10px 20px;
          border-bottom: 1px solid #d0d0d0;
          background-color: #fff;
          -ms-flex-align: center;
          align-items: center;
          p {
            font-size: 10px;
            margin: 0;
            color: #545454;
            span {
              font-size: 9px;
              font-weight: 400;
              display: block;
              margin-top: 5px;
              color: #6297f8;
            }
          }
          button {
            line-height: 0;
            margin: 0 0 0 auto;
          }
        }
      }
    }
  }
  .configContent {
    overflow-y: auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    .fileControl {
      display: flex;
      color: #fff;
      background-color: #40a9ff;
      -ms-flex-align: center;
      align-items: center;
      height: 40px;
      ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin: 0;
          font-size: 14px;
          a {
            display: block;
            padding: 10px;
            color: inherit;
            &:hover {
              background-color: rgba(0, 0, 0, 0.15);
            }
            &:active {
              background-color: rgba(0, 0, 0, 0.15);
            }
          }
        }
        .intend {
          margin-left: 15px;
        }
      }
      .right {
        margin-left: auto;
        margin-right: 22px;
        p {
          margin: 0;
          a {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .fileContent {
      font-family: 'Roboto';
      display: -ms-flexbox;
      display: flex;
      height: calc(100% - 38px);
      #fileTree{
        overflow-y: auto;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        ul{
          font-size: 14px;
          margin: 0;
          list-style: none;
          width: 100%;
        }
        li {
          display: block;
          padding-bottom: 5px;
          text-decoration: none;
          // &:first-child{
          //   border-top: 1px solid #d0d0d0;
          // }
          // &:last-child{
          //   border-bottom: 1px solid #ccc;
          // }
        }
        .labelInfo{
          font-size: 12px;
          display: inline-block;
          float: right;
          padding: 5px 3px 3px 3px;
          vertical-align: middle;
          color: inherit;
          background-color: transparent;
          font-weight: bold;
        }
      }
      #fileDetail{
        border-left: 1px solid #ccc;
        -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }
    }
  }
}
button.ant-switch.ant-switch-checked {
  border-color: #9cc86e;
  background-color: #b8e986;
}
.buttonContainer {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .mainTitle {
    font-size: 20px;
  }
  .floatRight {
    float: right;
  }
  .btnOption {
    font-weight: 700;
    margin-top: -3px;
    padding: 7px 10px;
    color: #fff;
    border: 0;
    border-radius: 4px;
    background-color: #40a9ff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    font-size: 14px;
    -webkit-appearance: none;
  }
  #resetOption {
    color: #fff;
    background-color: #888;
    margin-right: 5px;
  }
}
.formBody {
  width: 100%;
  display: flex;
  overflow: auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  #configForm {
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #cfcfcf;
    background-color: #f5f5f5;
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    .fileInfo{
      ul{
        font-size: 14px;
        margin: 0;
        list-style: none;
        li{
          padding: 12px 20px;
          background-color: #fff;
          &:not(:last-child){
            border-bottom: 1px solid #d0d0d0;
          }
          strong{
            font-size: 11px;
    font-variant: small-caps;
    display: block;
    margin: 7px 0;
    text-transform: uppercase;
    color: #797979;
          }
        }
      }
    }
    .formHeader {
      padding: 0 20px;
      color: #999;
      border-bottom: 1px solid #d0d0d0;
      .titleHeader {
        margin: 30px 0 10px 0;
        font-size: 18px;
      }
      .desHeader {
        font-size: 0.7em;
        display: block;
        margin: 10px 0;
      }
      .anticonGlobal {
        margin-right: 5px;
      }
    }

    .formItem {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      border: 0;
      .formTitle {
        font-size: 14px;
        width: 100%;
        margin: 0;
        padding: 15px 20px 10px 20px;
        vertical-align: middle;
        color: #999;
      }
      .radioGroup {
        display: flex;
      }
      .radioStyle {
        flex-basis: 100% !important;
        font-size: 10px;
        font-weight: 700;
        display: block;
        margin: 0;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        border: none;
      }
      .toggleList {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: flex;
          padding: 10px 20px;
          border-bottom: 1px solid #d0d0d0;
          background-color: #fff;
          -ms-flex-align: center;
          align-items: center;
          p {
            font-size: 10px;
            margin: 0;
            color: #545454;
            span {
              font-size: 9px;
              font-weight: 400;
              display: block;
              margin-top: 5px;
              color: #6297f8;
            }
          }
          button {
            line-height: 0;
            margin: 0 0 0 auto;
          }
        }
      }
    }
  }
  .configContent {
    overflow-y: auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    .fileControl {
      display: flex;
      color: #fff;
      background-color: #40a9ff;
      -ms-flex-align: center;
      align-items: center;
      ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin: 0;
          font-size: 14px;
          a {
            display: block;
            padding: 10px;
            color: inherit;
            &:hover {
              background-color: rgba(0, 0, 0, 0.15);
            }
            &:active {
              background-color: rgba(0, 0, 0, 0.15);
            }
          }
        }
        .intend {
          margin-left: 15px;
        }
      }
      .right {
        margin-left: auto;
        margin-right: 22px;
        p {
          margin: 0;
          a {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .fileContent {
      font-family: 'Roboto';
      display: -ms-flexbox;
      display: flex;
      height: calc(100% - 38px);
      #fileTree{
        overflow-y: auto;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        .wrapItem{
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-bottom: 1px solid rgb(204, 204, 204);
         padding: 5px 10px;
         &:hover{
          background: #eee;
        }
        }
        ul{
          font-size: 14px;
          margin: 0;
          list-style: none;
          width: 100%;
        }
        li {
          text-decoration: none;
          overflow: hidden;
          // display: flex;
          // justify-content: space-between;
          // align-items: center;
          cursor: pointer;

        }
        .ulChild{
          li{
            
          }
        }
        .labelInfo{
          font-size: 12px;
          display: inline-block;
          float: right;
          padding: 5px 3px 3px 3px;
          vertical-align: middle;
          color: inherit;
          background-color: transparent;
          font-weight: bold;
        }
      }
      #fileDetail{
        border-left: 1px solid #ccc;
        border-right: 1px solid #cfcfcf;
        background-color: #f5f5f5;
        flex-basis: 350px;
        flex-shrink: 0;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
button.ant-switch.ant-switch-checked {
  border-color: #9cc86e;
  background-color: #b8e986;
}

.loadingContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #80808042;
  top: 0;
  z-index: 100;
  .loadingSpinner{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
}