.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100% !important;
}
// .ant-modal-content {
//   margin-top: 80px;
// }
.ant-modal-body{
  padding: 0!important;
}
.ant-modal{
  top: 0px!important;
  padding: 0px!important;
}
.ant-modal-wrap{
  margin-top: 40vh!important;
  max-height: 250px;
}
.ant-upload.ant-upload-select {
  display: inline-block;
  width: fit-content;
  margin: auto;
  display: block;
}
.ant-upload-drag-container {
  display: unset !important;
  padding: 0 !important;
}
.ant-upload.ant-upload-drag .ant-upload {
  padding: 0;
}
.dropzone-message {
  text-align: center;
  svg {
    animation: spin 3500ms infinite linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
#icon-container {
  margin: 60px 0px;
  text-align: center;
  svg {
    font-size: 140px;
  }
  h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.ant-modal-content {
  border-radius: 8px;
  height: 100%;
  background: none!important;
  max-width: calc(100vw - 32px)!important;
  box-shadow: none;
  .ant-modal-close-x{
    display: none;
  }
}
.ant-modal-header {
  border-radius: 8px;
}
// .ant-modal {
//   max-width: 100%!important;
//   width: 100%!important;
//   height: 100%
// }
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.ant-modal-mask{
  z-index: 100!important;
  display: none!important;
}
.ant-modal-wrap{
  z-index: 100!important;
  max-width: 1000px;
  margin: auto;
}

.dropzone-container {
  text-align: center;
  // background-color: #efebeb;
  height: 100%;
  width: 100%;
  position: absolute;
}

.dropzone-area {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-container {
  height: 100vh;
  width: 100%;
  margin-bottom: 10px;
}
.drag-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
// .cancel-container {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// background: red;
//   z-index: 0;
// }
.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap{
  flex: unset!important;
  width: 100%;
}