.logoContainer{
    max-width: 500px;
    margin: auto;
}
.mainContent{
    width: 100%;
}
.draggerContent{
    cursor: unset!important;
    width: 100%!important;
    height: 100%!important;
    border: none!important;
    z-index: 100!important;
    position:absolute!important;
    left: 0!important;
    top: 0!important;
    background-color: rgba(0,0,0,.45)!important;
    min-height: 50vh!important;
}
.actionContent{
    // padding: 3rem;
    width: 100%;
    .actionForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        .draggerContainer{
            height: 100%;
            // left: 0;
            // position: absolute;
            border: none;
            background: white;
            .wrap{
              display: flex;
              flex-direction: column;
              align-items: center;
            }
 
        }
        input{
            margin-top: 1.5rem;
        }
        .buttonUpload{
            padding : 4px 3rem 4px 3rem;
            margin-top: 20px;
            border-radius: 5px;
            border-color: #1890ff;
            color: #1890ff;
            &:hover{
                background-color: #1890ff;
                color: #fff;
            }
        }
        .description{
            padding: 1.5rem;
            text-align: center;
            .blueLink{
                color: #1890ff;
            }
        }
    }

}
