.wrapper {
  //   margin-left: 25px;
  margin-right: 25px;

  .content {
    border: 1px solid rgb(221, 219, 219);
    background-color: #fff;
    // line-height: 40px;

    .container {
      display: flex;
      .wapperTitle {
        border-right: 1px solid #ccc;
        .title {
          min-width: 150px;
          margin-left: 40px;
          // border: 1px solid #ccc;
          padding-right: 20px;
        }
      }
      .key {
        display: block;
        margin-left: 80px;
      }
    }
  }

  .content:nth-child(2n-1) {
    background-color: rgb(240, 236, 236);
  }
}
