.status-running{
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #d2e24c;
   
}
.status-reported{
    color: #66ca4d;
    font-weight: bold;
}
.status-error{
    color: red;
    font-weight: bold;
}