.headerContainer {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 20px;
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0 0 0;
    color: #999;
  }
}
.bodyContainer {
  display: flex;
  overflow: auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  background: #f5f5f5;
  justify-content: center;
  .bodyContent {
    display: flex;
    margin: 15px 0;
    -ms-flex-preferred-size: 1180px;
    flex-basis: 1180px;
    .bodyColumn{
        width: 100%;
        h3 {
            font-size: 24px;
            small {
              font-size: 65%;
              font-weight: normal;
              line-height: 1;
              color: #777;
            }
          }
    }

  }
}
.loadingContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #80808042;
    top: 0;
    z-index: 100;
    .loadingSpinner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
  }