.headerContent {
  background: #fff;
  padding: 0;
  height: 51px;
  line-height: 51px;
  .menuButton {
    float: left;
    height: 32px;
    font-size: 17px;
    padding: 6px;
    margin-top: 5px;
    display: none;
    background: none;
    margin-right: 10px;
    @media (max-width: 767px) {
      display: block;
      margin-right: 10px;
    }
  }
  .menuHeader {
    color: #000;
    min-width: 400px !important;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
  .menuRight {
    border-bottom: none !important;
    display: flex;
    justify-content: end;
    padding: 8px 0px;
    li{
      height: 20px;
      line-height: 20px;
    }
    .signup {
      box-sizing: border-box;
      border-radius: 10px;
      text-decoration: none;
      padding: 0px 7px;
      color: #fff;
      font-weight: bold;
      background: #1890ff;
    }
  }
  .loginWrapper {
    width: 150px;
    height: 34px;
    display: flex;
    align-items: center;
    position: relative;
    .avatarContent {
      position: absolute;
      right: 0;
      width: 149px;
      box-sizing: border-box;
      align-self: center;
      display: flex;
      align-items: center;
      background: #8080801f;
      border-radius: 20px;
      height: 34px;
      padding: 0px 0px 0px 10px;
      font-size: 14px;
      justify-content: flex-end;
      .avatar {
        height: 34px;
        width: 34px;
        line-height: 34px;
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }
  .searchWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    box-shadow: rgb(17 17 17 / 16%) 0px 4px 8px -3px;
    border-bottom: 1px solid #e5e9f0;
    .inputContainer{
      width: 100%;
      input{
        height: 100%;
        border: none;
        outline: none;
        padding: 6px 16px;
      }
    }
    .logoSearch{
      width: 60px;
      display: flex;
      margin-left: -1px;
      height: 100%;
      padding: 0.875rem;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e5e9f0;
      cursor: pointer;
      color: #1890ff;
      svg{
        font-size: 20px;
      }
    }
    .iconButton{
      display: flex;
      justify-content: center;
      align-items: center;
      .grey{
        height: 49px;
        line-height: 49px;
        background: #f9fafb;
        box-sizing: border-box;
        border-left: 1px solid #E5E9F0;
        border-right: 1px solid #E5E9F0;
        span{
          width: 50px;
          font-size: 18px;
        }
      }
    }
    .uploadButton{
      width: 50px;
      line-height: 50px;
      span{
       font-size: 12px;
       display: block;
       margin: auto;
       font-size: 22px;
      }
    }
  }
}

.logo {
  float: left;
  img {
    width: 90px;
    margin-top: 4px;
  }
}
.menuHeader {
  border: none;
  background: transparent;
  color: white;
  float: left;
}
.helloUser {
  color: white;
  margin-right: 5px;
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  .login-right h2 {
    font-size: 40px;
  }
}
