.btn {
    background-color: #0b4dda;
    border-color: #0b4dda;
    border-radius: 4px;
    border-style: solid;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    padding: 10px 40px;
    border-width: 1px;
    // padding-bottom: 10px;
    height: 36px;
  }
  
  