.container {
    max-width: 1000px;
    //   background-color: #ccc;
    margin: 0 auto;
    height: 400px;
  
    margin-top: 39px;
  
    text-align: center;
  
    &_img {
      height: 245px;
      width: 245px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 19px;
      img {
      }
    }
    &_title {
      margin-bottom: 13px;
      color: #20242c;
  
      h3 {
        font-size: 22.75px;
        font-weight: 400;
        line-height: 27.3px;
      }
    }
  
    &_message {
      margin-bottom: 26px;
      font-size: 13px;
      line-height: 19.5px;
  
      span {
        color: #20242c;
      }
  
      a {
        color: #0b4dda;
      }
    }
  
    &_actions {
    }
  }
  
  