.comment_wrapper {
  max-width: 1000px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  overflow: hidden;
  margin: 0 auto;
  &_header {
    display: flex;
    p{
      font-size: 15px;
      margin-bottom: 0px;
      }
 
    &_author {
      margin-right: 20px;
      a {
        img {
          height: 40px;
          width: 40px;
        }
      }
    }

    &_details {
      &_username {
        margin-bottom: 4px;
        a {
          font-weight: bold;
          cursor: pointer;
        }
      }

      &_metaname {
        &_date {
          // margin-right: 12px;
          margin-bottom: 0px;
          a {
            font-size: 12px;
            margin-left: 6px;
            cursor: default;
          }
        }

        &_id {
          display: flex;
          justify-content: center;
          align-items: center;
          svg{
            font-size: 18px;
          }
          a {
            font-size: 12px;
            margin-left: 6px;
            font-weight: bold;
            &:hover{
              color: #1890ff;
            }
            // border-bottom: 1px solid blue;
          }
          // a:hover {
          //   color: blue;
          // }
        }
      }
    }
  }

  .body {
    width: 100%;
    // padding: 10px 10px 15px;
    // height: 120px;
    overflow: hidden;
    position: relative;
    p{
      margin-bottom: 0px;
    }
    &_title {
      //
    }

    &.expand {
      height: max-content;
    }
  }

  .toggle {
    .btn_show {
      font-weight: bold;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}
